<div class="content-header">
    <nz-header>
        <div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="horizontal">
            <li nz-menu-item>Iphone</li>
            <li nz-menu-item>Ipad</li>
            <li nz-menu-item>Mac</li>
            <li nz-menu-item>Smart Watch</li>
            <li nz-menu-item>Âm thanh</li>
            <li nz-menu-item>Phụ kiện</li>
            <li nz-menu-item>Dịch vụ</li>
            <li nz-menu-item>Khuyến mãi</li>
            <li nz-menu-item>Trả Góp</li>
            <li nz-menu-item><span nz-icon nzType="search" nzTheme="outline"></span></li>
            <li nz-menu-item><span nz-icon nzType="shopping-cart" nzTheme="outline"></span></li>
        </ul>
    </nz-header>
</div>