<div class="card-item">
  <div class="card-status">
    <div class="card-status-image">
      <img src="../../../../assets/STICKER-SAN-HANG.svg" alt="Icon san hang">
    </div>
  </div>
  <div class="card-image">
    <div class="card-image-item">
      <a class="card-image-item-link" href="#">
        <img src="../../../assets/iPhone-14-thumb-tim.png" alt="Image Iphone 14">
      </a>
    </div>
  </div>
  <div class="card-title">

    <a href="#">
      <span>Iphone 14 128GB</span>
    </a>

  </div>
  <div class="card-decription">
    <span>Giá từ 21.450.000đ</span>
  </div>
</div>