<div class="detail-page-wrap">

    <!-- header -->

    <div class="header">
        <app-header></app-header>
    </div>

    <div class="content">
        <div class="breadcumb-wrap">
            <app-breadcumb></app-breadcumb>
        </div>

        <div class="details-wrap">

            <div class="details-image-wrap">
                <nz-carousel>
                    <div nz-carousel-content *ngFor="let index of array">
                        <h3>{{ index }}</h3>
                    </div>
                </nz-carousel>
            </div>

            <div class="details-content-wrap">
                <div class="product-name">
                    <div class="name">Iphone 14 Pro Max</div>
                    <div class="rate">
                        <nz-rate [ngModel]="2" nzDisabled></nz-rate>
                        <span class="total-rate">1 lượt đánh giá</span>
                    </div>
                </div>

                <div class="cost-wrap">
                    <div class="number">31.000.000</div>
                    <div class="select-property-product">
                        <div class="select-wrap">
                            <div class="title">
                                <span>Chọn dung lượng</span>
                            </div>
                            <div class="list">
                                <app-button-select-memory class="item"></app-button-select-memory>
                                <app-button-select-memory class="item"></app-button-select-memory>
                                <app-button-select-memory class="item"></app-button-select-memory>
                                <app-button-select-memory class="item"></app-button-select-memory>
                            </div>
                        </div>
                        <div class="select-wrap">
                            <div class="title">
                                <span>Chọn màu sắc</span>
                            </div>
                            <div class="list">
                                <app-button-select-color class="item"></app-button-select-color>
                                <app-button-select-color class="item"></app-button-select-color>
                                <app-button-select-color class="item"></app-button-select-color>
                                <app-button-select-color class="item"></app-button-select-color>
                            </div>
                        </div>
                    </div>
                    <div class="button-wrap">
                        <button nz-button nzType="primary" nzSize="large" class="btn-primary">
                            <span nz-icon nzType="wallet" nzTheme="outline"></span>
                            <span>Mua ngay</span>
                        </button>
                        <button nz-button nzType="primary" nzSize="large" class="btn-primary btn-primary-left">
                            <span nz-icon nzType="shopping-cart" nzTheme="outline"></span>
                            <span> Thêm vào giỏ hàng</span>
                        </button>
                    </div>
                </div>

                <div class="promotion-imformation-wrap">
                    <div class="promotion-imformation-header">
                        <span nz-icon nzType="gift" class="icon-gift" nzTheme="outline"></span>
                        <span>Khuyến mãi</span>
                    </div>
                    <div class="promotion-imformation-content">
                        <p>
                            <span>Các ưu đãi</span>
                            <span>1. Nhận gói 6 tháng Apple Music miễn phí</span>
                            <span>2. Trả góp 0% qua thẻ tín dụng</span>
                        </p>
                    </div>
                </div>

                <div class="product-extension">
                    <div class="item-extension">
                        <span nz-icon nzType="check-circle" nzTheme="outline"></span>
                        <span>Bộ sản phẩm bao gồm: hộp</span>
                    </div>
                    <div class="item-extension">
                        <span nz-icon nzType="check-circle" nzTheme="outline"></span>
                        <span>Bảo hành 12 tháng</span>
                    </div>
                    <div class="item-extension">
                        <span nz-icon nzType="check-circle" nzTheme="outline"></span>
                        <span>Giao hàng toàn quốc</span>
                    </div>
                    <div class="item-extension">
                        <span nz-icon nzType="check-circle" nzTheme="outline"></span>
                        <span>Gọi để giao hàng 0123456789</span>
                    </div>
                </div>

            </div>
        </div>

        <!-- infomation wrap -->
        <div class="infomation-wrap">
            <div class="tab-wrap">
                <nz-tabset>
                    <nz-tab nzTitle="Mô tả">
                        <h3>
                            Mô tả sản phẩm
                        </h3>
                    </nz-tab>
                    <nz-tab nzTitle="Thông số kỹ thuật">
                        <h3>
                            Thông số kỹ thuật
                        </h3>
                    </nz-tab>
                    <nz-tab nzTitle="Chi tiết sản phẩm">
                        <h3>
                            Chi tiết sản phẩm
                        </h3>
                    </nz-tab>
                    <nz-tab nzTitle="Đánh giá">
                        <!-- <div class = "rate-wrap">
                            <div class="attention-title">
                                <span>Email của bạn sẽ không được hiển thị công khai. Các trường bắt buộc được đánh dấu *</span>
                            </div>
                            <div class="select-rate-wrap">
                                <nz-rate [ngModel]="2.5" nzAllowHalf></nz-rate>
                            </div>
                            <div class="comment-wrap">
                                <div class="comment">
                                    <div class="title">
                                        <span>Nhận xét của bạn*</span>
                                    </div>
                                    <div class="input-comment">
                                        <form nz-form [formGroup]="form" nzLayout="vertical">
                                            <nz-form-item>
                                              <nz-form-control>
                                                <nz-textarea-count [nzMaxCharacterCount]="100">
                                                  <textarea rows="4" formControlName="comment" nz-input></textarea>
                                                </nz-textarea-count>
                                              </nz-form-control>
                                            </nz-form-item>
                                          </form>
                                    </div>
                                    
                                </div>
                                <div class="name">
                                    <div class="title">
                                        Tên*
                                    </div>
                                    <div class="input-name">
                                        <input nz-input placeholder="Basic usage" [(ngModel)]="value" />
                                    </div>
                                </div>
                                <div class="email">
                                    <div class="title">
                                        Email*
                                    </div>
                                    <div class="input-email">
                                        <input nz-input placeholder="Basic usage" [(ngModel)]="value" />
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </nz-tab>
                </nz-tabset>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>