<div class="content-footer">
    <nz-footer>
        <div class="content">
            <p>©2022 Implement By Vu Ngoc Anh</p>
            <p>Support By Antd <span nz-icon nzType="ant-design" nzTheme="outline"></span> </p>
            <p>Contact With Me</p>
            <div class="list-contact">
                <span nz-icon nzType="github" nzTheme="outline"></span>
                <span nz-icon nzType="twitter" nzTheme="outline"></span>
                <span nz-icon nzType="facebook" nzTheme="outline"></span>
                <span nz-icon nzType="skype" nzTheme="outline"></span>
            </div>
        </div>

    </nz-footer>
</div>