<div class="card-in-cart">
    <div class="card-image">
        <div class="card-image-item">
            <img src="../../../assets/iPhone-14-thumb-tim.png" alt="Image Iphone 14">
        </div>
    </div>
    <div class="content">
        <div class="title-image">
            <span>Iphone 14 pro max 512GB</span>
        </div>
        <div class="cost">
            <span>Giá:</span>
            <span>3000000</span>
        </div>
        <div class="amount">
            <div class="title-amonut"><span>Số lượng:</span></div>
            <div class="input-amonut">
                <nz-input-number [(ngModel)]="demoValue" [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>            </div>
        </div>
    </div>
</div>